.add-product {
    padding: 10vh 22vw;
    h2 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 18px;
    }
    form {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
}