.logo {
    height: 5vh;
    display: flex;
    align-items: center;
    column-gap: 6px;

    h1 {
        font-size: 17pt;
    }
}

header {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    
    input {
        width: 50%;
    }

    a {
        width: 15%;
    }
}

.promotion {
    background: url(../img/promotion.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    
    h2 {
        font-size: 40px;
        line-height: 61px;
        color: #FFFFFF;
    }

    h3 {
        font-size: 17px;
        line-height: 26px;
        color: #FFFFFF;
    }

    button {
        width: fit-content;    
    }
}